// COLORS
$white: #fff;
$black: #222223;
$black-2: #101011;
$dark-gray: #353536;
$gold: #FFD700;
$gold-2: #FFC107;

// BREAKPOINTS
$lap-large: 1440;
$lap-small: 1250;
$tablet-l: 1199;
$tablet: 991;
$phone: 640;